:root {
  --color-primary: #0072e0;
  --color-danger: #dc2626;

  --rounded: 3px;
  --rounded-full: 999px;
}

body {
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p:not(:last-of-type) {
  margin-bottom: 1rem;
}

.strong {
  font-weight: 500;
}

.emphasis {
  font-style: italic;
  color: var(--color-medium);
}

main {
  flex-grow: 1;
}



div {
  display: block;
}
section {
  padding: 3rem;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}


header {
  background-color: #1094d5;
  height: 60px;
  margin: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0; 
  padding:center;
  height: 60px;
  font-size: 17px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.menu {
  display: flex;
  align-items: center;
}

.menu--hide-mobile {
  display: none;
}

.menu__item {
  font-size: 1.125rem;
  display: block;
  padding: 1px;
  margin-right: 1rem;
}

.link--no-color {
  color: inherit;
}

.link {
  color: var(--color-primary);
  display: inline-block;
  text-decoration: none;
}

.nav-right li {
  float: left;
}

.image {
  display: block;
  align-items: center;
}

.image--small {
  width: 50px;
}

.image--rounded {
  border-radius: var(--rounded-full);
}

.menu__item a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
}
img.transit {
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
 }

.tag {
  border-radius: var(--rounded);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.5rem;
}

.tag:not(:last-child) {
  margin-right: 0.5rem;
}

footer {
  padding:center;
  height: 60px;
  background-color:lightgray;
  font-size: 17px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

.fa {
  margin-left: 5%;
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 40%;
  display: block;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: lightgray;
  color: black;
}

ul.social {
  display: flex;
}

 
ul.exp li {
    list-style-type: none;
    padding: 10px;
    margin-left:10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
    cursor: pointer;
}

ul.list li {
    list-style-type: none;
    cursor: pointer;
}

.leave_message {
    padding: 10px;
    box-sizing: border-box; 
   }
.myForm {
     display: flex;
     background-color:#c6522b;
     border-radius: 3px;
     padding: 1.8em;
}
.message {
    padding: 10px;  
    margin-right: 2em; 
    display: flex;
    flex-direction: column;
}
.message > textarea {
padding: 10px;
flex: 1; 
min-width: 50em;
}
.contact {
    flex: 1; 
}
.contact input {
 width: 90%;
}
.contact input,
.contact button {
 padding: 1em;
 margin-bottom: 1em;
}
button {
background: #1094d5;
color: white;
border: 0;
cursor: pointer;
font-weight: bold;
width: 100px;
height: 60px;
}

label {
    font-size: 15px;
    font-weight:bold;
    color: #EEE;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


@media screen and (min-width: 768px) {
  .menu--hide-mobile {
    display: flex;
}

}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default button styles */
button {
  border: none;
  box-shadow: none;
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


